@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1E212C;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-weight: 700;
  color: #fff;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 18px 40px;
}

.button:hover {
  background: -o-linear-gradient(34.05deg, #bf322d 0%, #c54a04 100%);
  background: linear-gradient(55.95deg, #bf322d 0%, #c54a04 100%);
}

.title-block__subtitle {
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.title-block__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.button-small {
  font-size: 14px;
  padding: 4.5px 8px;
  border-radius: 4px;
  color: #fff;
  background: #03CEA4;
}

.button-small--blue {
  background: #5A87FC;
}

.button-small--orange {
  background: #F89828;
}

.button-small--pink {
  background: #F52F6E;
}

.button-small--violet {
  background: #7772F1;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.blog-block {
  padding-top: 50px;
}

.blog-block__header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 60px;
}

.blog-block__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item-post {
  position: relative;
}

.item-post__image {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 76.923%;
}

.item-post__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-post__action {
  font-weight: 700;
  line-height: 1.6;
  position: relative;
}

.item-post__action::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/icons/right.svg");
  position: absolute;
  top: -3px;
  margin-left: 8px;
}

.badge-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 1px 8px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.badge-post img {
  width: 16px;
  height: 16px;
}

.badge-post__name {
  font-size: 14px;
  line-height: 1.5;
}

.info-post {
  color: #787A80;
  font-size: 14px;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 8px;
}

.info-post__date {
  position: relative;
  padding-left: 24px;
}

.info-post__date::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/icons/calendar.svg");
  position: absolute;
  top: 1px;
  left: 0;
}

.info-post__time {
  position: relative;
  padding-left: 24px;
}

.info-post__time::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/icons/clock.svg");
  position: absolute;
  top: 1px;
  left: 0;
}

.about-post {
  line-height: 1.5;
}

.about-post__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.about-post__text {
  color: #424551;
  margin-bottom: 16px;
}

.courses-block {
  padding: 100px 0px 120px;
  position: relative;
}

.courses-block__container {
  position: relative;
}

.courses-block__header {
  margin-bottom: 60px;
}

.courses-block__courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 315px;
  grid-template-columns: 1fr 315px;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}

.courses-block__form {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.courses-block__search {
  border: 1px solid #D7DADD;
  color: #9A9CA5;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 11px 0px 12px 16px;
  width: 100%;
}

.courses-block__button {
  position: relative;
}

.courses-block__button::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg");
  position: absolute;
  bottom: 28px;
  left: 283px;
}

.courses-block__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.courses-block__load {
  color: #424551;
  font-weight: 700;
  line-height: 1.6;
  position: absolute;
  left: 50%;
  top: 0;
  width: 116px;
  height: 26px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  position: relative;
  padding-left: 40px;
  margin-left: -60px;
}

.courses-block__load::before {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;
  background: url("../img/icons/convert.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.courses-block__title-block {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.type-course {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.type-course__link {
  color: #9A9CA5;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.type-course__link:hover {
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
}

.type-course__name {
  font-weight: 700;
  line-height: 1.6;
}

.type-course__count {
  font-weight: 900;
  font-size: 10px;
  line-height: 1.5;
}

.card-courses {
  margin-bottom: 80px;
}

.card-courses__item {
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.card-courses__image {
  padding-bottom: 61.5384%;
  position: relative;
}

.card-courses__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-courses__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
  gap: 20px;
  padding: 24px;
}

.card-courses__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.card-courses__price {
  font-size: 18px;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-courses__value {
  color: #FF4242;
  font-weight: 700;
}

.card-courses__speaker {
  color: #787A80;
}

.courses-block__decoration img {
  position: absolute;
}

.courses-block__decoration img:first-child {
  left: 2.9%;
  top: 36%;
  height: 44px;
  width: 83px;
}

.courses-block__decoration img:nth-child(2) {
  right: -2.37%;
  top: 7.6%;
  height: 105px;
  width: 143px;
}

.courses-block__decoration img:last-child {
  right: 3.75%;
  top: 60%;
  height: 85px;
  width: 85px;
}

@media (min-width: 78.75em) {
  .title-block__title {
    font-size: 2.875rem;
  }
}

@media (max-width: 75em) {
  .blog-block__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-block__main article:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 45em) {
  .blog-block__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .blog-block__main article:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 20em) {
  .title-block__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 78.75em) {
  .courses-block__courses {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: stretch;
    row-gap: 40px;
    -ms-grid-rows: unset;
    grid-template-rows: unset;
  }

  .courses-block__form {
    width: 315px;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .type-course {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-items: center;
    gap: unset;
  }
}

@media (max-width: 62.5em) {
  .courses-block__card {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .courses-block__card article:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 49.6875em) {
  .type-course {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }
}

@media (max-width: 38.75em) {
  .courses-block__card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .courses-block__card article:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 33.75em) {
  .type-course {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 25.3125em) {
  .button {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    text-align: center;
  }

  .blog-block__header {
    grid-auto-flow: row;
    gap: 30px;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    justify-items: center;
  }
}

@media (max-width: 22.5em) {
  .info-post {
    grid-auto-flow: row;
    gap: 10px;
  }

  .info-post img {
    display: none;
  }

  .courses-block__form {
    width: 100%;
  }

  .type-course {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 21.25em) {
  .courses-block__button::after {
    left: 263px;
  }
}

@media (min-width: 20em) and (max-width: 78.75em) {
@supports (font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem )) {
    .title-block__title {
      font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem )) {
    .title-block__title {
      font-size: calc(1.875rem + 1 * (100vw - 20rem) / 58.75);
    }
}
}